extends ../layout

block content
    form(method='post' action='/api/articles/register')
        div
            label(for='title') Title
            input(type='text' name='title' id='title')
        div
            label(for='write_here') Write Here
            input(type='text' name='write_here' id='write_here')   
        //div
            label(for='first_name') First Name
            input(type='text' name='first_name' id='first_name')
        //div
            label(for='last_name') Last Name
            input(type='text' name='last_name' id='last_name')
        //div
            label(for='password') Password
            input(type='text' name='password' id='password')
        div
            input(type='submit' value= 'Submit')
